language: erlang
otp_release:
  - R16B
  - R15B03
  - R15B02
  - R15B01
  - R15B
  - R14B04
  - R14B03
  - R14B02
notifications:
  email: false
  irc: "chat.freenode.net#xprous"
script: rebar compile && rebar ct skip_deps=true
