{require_min_otp_vsn, "18"}.

{deps, [{cowboy,  ".*", {git, "https://github.com/extend/cowboy.git",          {branch, "1.0.x"}}},
        {jsx,     ".*", {git, "https://github.com/talentdeficit/jsx.git",      {branch, "master"}}},
        {msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang.git", {branch, "master"}}}]}.

{clean_files, ["*.beam", "test/*.beam", "erl_crash.dump"]}.
