{erl_opts, [{platform_define, "^1[8-9]|^[2-9][0-9]", optional_callbacks}]}.

{deps, [{cowboy,  ".*", {git, "https://github.com/extend/cowboy.git",          {branch, "1.0.x"}}},
        {jsx,     ".*", {git, "https://github.com/talentdeficit/jsx.git",      {branch, "master"}}},
        {msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang.git", {tag, "0.3.6"}}}]}.

{clean_files, ["*.beam", "test/*.beam", "erl_crash.dump"]}.
