%%-*- mode: erlang -*-

{deps, [
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.8.5"}}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.5"}}},
        {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", {tag, "0.2.8"}}}
       ]}.

{clean_files, ["*.beam", "test/*.beam", "erl_crash.dump"]}.
